<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %X{call-id} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="org.eclipse.jetty" level="${KTOR_LOG_LEVEL:-DEBUG}"/>
    <logger name="io.netty" level="${KTOR_LOG_LEVEL:-DEBUG}"/>
    <logger name="Application" level="${KTOR_LOG_LEVEL:-DEBUG}"/>
    <logger name="io.ktor" level="${KTOR_LOG_LEVEL:-DEBUG}"/>
    <logger name="org.flywaydb" level="${KTOR_LOG_LEVEL:-DEBUG}"/>
    <logger name="Exposed" level="${KTOR_LOG_LEVEL:-DEBUG}"/>
    <logger name="OkHttpEngine" level="${KTOR_LOG_LEVEL:-DEBUG}"/>
    <logger name="aws.smithy" level="${KTOR_LOG_LEVEL:-DEBUG}"/>
    <logger name="com.zaxxer.hikari" level="${KTOR_LOG_LEVEL:-DEBUG}"/>
    <logger name="a.s.k.r.h.engine.okhttp.OkHttpEngine" level="${KTOR_LOG_LEVEL:-DEBUG}"/>
</configuration>